{% extends 'base.html.twig' %}
{% block title %}Login Page{% endblock %}

{% block body %}
    <img src="images/logo.png" class="logo" >
    <h1> Bonjour {{ title }}</h1>


    {#style="width:20%"#}
    <div class="alignbutton">

        <button class = "button"><a href=" {{ path('profilpage') }}">Mon profil</a></button>
        <button class = "button"><a href=" {{ path('app_logout') }}">Deconnexion</a></button>
    </div>

    <div class = "titre">Annonces</div>


    {% for a in annonces|reverse %}
        <div class = "cadreAnnonce">

            <div class = "titreAnnonce"><p>{{ a.title }}</p></div>
            <p>{{ a.price }} €</p>
            <p>{{ a.description }}</p>
            <p>de {{ a.seller.username }}</p>

        </div>
    {% endfor %}


    </div>




{% endblock %}