{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <img src="images/logo.png" class="logo" >
    <div class="alignbutton">
        <button class = "button"><a href=" {{ path('homepage') }}">Accueil</a></button>
        <button class = "button"><a href=" {{ path('registrationpage') }}">Inscription</a></button>
    </div>

<div class="menu">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Tu es connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnecte toi</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="form-group">
            <label for="inputUsername">Nom d'utilisateur </label>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Ex : Kiki" required autofocus>
            <br/>
            <label for="inputUsername">Mot de passe </label>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Ex : ************" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </div>
        {#<button type="submit" class = "blueButton"><a></a>Inscription</button>#}
        {#<button class="btn btn-lg btn-primary" type="submit">#}
        <button class="blueButton" type="submit"><a></a>Connexion</button>
    </form>
</div>

{% endblock %}
